# Git
.git/
.gitignore
.gitattributes

# Build outputs
**/bin/
**/obj/
**/out/

# IDE
.vs/
.vscode/
*.user
*.suo

# Logs
*.log
logs/

# Test results
TestResults/

# Local settings (no subir secretos)
**/appsettings.Development.json
**/appsettings.Local.json

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
*.md
LICENSE
.editorconfig
